hosts:
  - name: host0.example.com
    weight: 10
  - name: host1.example.com
    weight: 5
client:
  host: client.example.com
  pub_port: 5555
  rep_port: 5556
libvirt:
  driver: qemu
  transport: tcp
  path: system
